# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_LILY58_DONGLE

config ZMK_KEYBOARD_NAME
	default "Lily58 Dongle"
	
config ZMK_SPLIT_ROLE_CENTRAL
	default y
	
config ZMK_SPLIT
	default y

# Increase the transmit power of the dongle
choice BT_CTLR_TX_PWR
    default BT_CTLR_TX_PWR_PLUS_8
endchoice

endif

if SHIELD_LILY58 && !ZMK_SPLIT
config ZMK_KEYBOARD_NAME
    default "Lily58 Dongle"
endif

if SHIELD_LILY58_LEFT || SHIELD_LILY58_RIGHT || SHIELD_LILY58_DONGLE 

config ZMK_SPLIT
	default y
	
endif

if SHIELD_LILY58_DONGLE

config ZMK_KEYBOARD_NAME
    default "Lily58 dongle"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2

# Increase the transmit power of the dongle
choice BT_CTLR_TX_PWR
    default BT_CTLR_TX_PWR_PLUS_8
endchoice

endif


# Setting this to y will make the left half the central
# We want it to be the central when dongle is not used

if SHIELD_LILY58_LEFT

config ZMK_SPLIT_ROLE_CENTRAL
    default y

# Check if the left half is the central

if ZMK_SPLIT_ROLE_CENTRAL
config ZMK_KEYBOARD_NAME
    default "LILY58 No Dongle"
        
endif # ZMK_SPLIT_ROLE_CENTRAL

endif # SHIELD_MY_KEYBOARD_LEFT
